<nav>
  <ul>
    <div class="col-md-1 inline"></div>
    <div class="logo-container col-md-2">
      <%= image_tag("images/logo1.png", class: "logo") %>
      <p class="logo-name">tinyone</p>
    </div>
    <div class="nav-list col-md-6">
      <li> <a href=""> Features </a> </li>
      <li> <a href=""> Support </a> </li>
      <li> <a href=""> Blog </a> </li>
    </div>
  </ul>
</nav>