.links {
  color: white;
  text-align: left;

  a {
    color: white;
  }
}

.social-media {
  height: 20rem;
  padding: 7rem;
}

.footer-links {

  @media screen and(max-width: $desktop){
    display: none;
  }
}