.social-media-icon {
  display: inline-block;
  margin: 0 1rem 0 1rem;
}

.operative-systems {
  margin: 3rem 1.5rem;

  & > i {
    color: $codGray;
  }
}

.operative-systems-list {
  float: left;
  margin-top: 3rem;
}