.nav-list > li {
  display: inline;
  font-size: 1.8rem;
  font-weight: bold;
  margin: 1rem;
}

.nav-list {
  float: right;
  margin: 5rem 0;

  @media screen and(max-width: $tablet){
    display: none;
  }
}

.inline {
  display: inline;
}

.main-nav__burger {
  display: inline-block;
  float: right;
  margin: 3.5rem 3rem 0rem -3rem;
  padding: 0.2rem;
  width: 3rem;
  span {
    border: 0.1rem solid $codGray;
    display: block;
    margin: 0.5rem 0;
  }

  @media screen and (min-width: $tablet) {
    display: none;
  }
}