.section-first {
  background-color: $schoolBusYellow;
  height: 77rem;
}

.section-features {
  height: 50rem;
}

.section-footer {
  background-color: $codGray;
  height: 50rem;
}

.tinyone-footer__container {
  margin: 0 auto;
  width: 70%;
}

.inspire {
  & > h2, & > h3, & > p {
    text-align: left;
  }
}
