body {
  background-color: #fff;
  color: #333;
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
}

html {
  background-color: $codGray;
}

a {
  color: rgba(#000, 0.7);

  &:focus,
  &:hover {
    color: rgba(#000, 0.6);
  }
}

p {
  margin: 0 0 0.5rem 0;
}

ul {
  list-style-type: none;
}